
/*弹出框样式开始*/
.alert{
	position: fixed;
}
/*确定不玩？弹出框*/
.alert-play{
	max-width: 380px;
	width: 30%;
	left: 50%;
	top: 50%;
	margin-left: -15%;
	margin-top: -100px;
	z-index: 999;
	/*height: 200px;*/
	padding: 20px;
	box-sizing: border-box;
	background: #fff;
	display: none;	
}
.alert-play .alert-play-close{
	text-align: right;
}
.alert-play .alert-play-close img{
	cursor: pointer;
}
.alert-play .alert-play-word{
	font-size: 14px;
	line-height: 23px;
	margin: 10px 0 15px 0;
}
.alert-play input{
	width: 48%;
	font-size: 14px;
	line-height: 40px;
	border: none;
}
.alert-play .alert-play-cancel{
	float: left;
	color: #999;
	background: #e9e9e9;
}
.alert-play .alert-play-ok{
	float: right;
	color: #fff;
	background: #f90;
}


/*删除帖子*/
.alert-post-delete{
	max-width: 380px;
	width: 30%;
	left: 50%;
	top: 50%;
	z-index: 999;
	margin-left: -15%;
	margin-top: -200px;
	box-sizing: border-box;
	background: #fff;
	display: block;
}
.alert-post-delete h2{
	font-size: 18px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #eee;
}
.alert-post-delete h2 span{
	float: right;
	cursor: pointer;
}
.alert-post-delete .post-delete-reason{
	padding: 0 20px;
	font-size: 14px;
}
.alert-post-delete .post-delete-reason .post-delete-sure{
	line-height: 55px;
}
.alert-post-delete .post-delete-reason form{
	color: #999;
}
.alert-post-delete .post-delete-reason .delete-reason-choose{
	position: relative;
}
.alert-post-delete .post-delete-reason .delete-choose-title{
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 10px;
	border: 1px solid #e9e9e9;
	background: url(../img/icon/post_input.png) 98% center no-repeat;
}
.alert-post-delete .post-delete-reason .delete-choose-sort{
	position: absolute;
	top: 42px;
	width: 100%;
	line-height: 40px;
	background: #fff;

}
.alert-post-delete .delete-choose-sort span{
	padding: 0 5px;
	display: block;
	border: 1px solid #e9e9e9;
	margin-top: -1px;
}
.alert-post-delete .post-delete-reason textarea{
	width: 100%;
	height: 130px;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
}
.alert-post-delete .post-delete-reason input{
	width: 48%;
	height: 40px;
	line-height: 40px;
	border: none;
	margin-bottom: 20px;
}
.alert-post-delete .post-delete-reason .delete-reason-cancel{
	float: left;
	background: #e9e9e9;
	color: #999;
}
.alert-post-delete .post-delete-reason .delete-reason-ok{
	float: right;
	background: #f90;
	color: #fff;
}


/*发帖成功*/
.alert-post-ok{
	left: 50%;
	top: 50%;
	width: 18%;
	z-index: 999;
	max-width: 240px;
	height: 80px;
	line-height: 80px;
	margin-left: -9%;
	margin-top: -40px;
	padding: 0 20px;
	font-size: 18px;
	color: #77d35b;
	text-align: center;
	box-sizing: border-box;
	background: #fff;
	display: none;
}
.alert-post-ok img{
	width: 25%;
	max-width: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
/*置顶失败*/
.alert-top-fail{
	left: 50%;
	top: 50%;
	width: 18%;
	z-index: 999;
	max-width: 240px;
	height: 80px;
	line-height: 80px;
	margin-left: -9%;
	margin-top: -40px;
	padding: 0 20px;
	font-size: 18px;
	color: #ec4747;
	text-align: center;
	box-sizing: border-box;
	background: #fff;
	display: none;
}
.alert-top-fail img{
	width: 25%;
	max-width: 40px;
	vertical-align: middle;
	margin-right: 10px;
}

/*弹出框样式结束*/
@media (max-width:1024px){
	/*弹出框样式*/
	/*确定不玩？*/
	.alert-play{
		width: 36%;
		padding: 15px;
		margin-left: -18%;
	}
	.alert-play .alert-play-word{
		font-size: 13px;
		line-height: 20px;
		margin: 5px 0 10px 0;
	}
	.alert-play input{
		line-height: 35px;
	}
	/*删除帖子*/
	.alert-post-delete{
		width: 40%;
		margin-left: -18%;
		margin-top: -120px;
	}
	.alert-post-delete h2{
		font-size: 16px;
		line-height: 40px;
		padding: 0 15px;
	}
	.alert-post-delete .post-delete-reason{
		padding: 0 15px;
		font-size: 12px;
	}
	.alert-post-delete .post-delete-reason .post-delete-sure{
		line-height: 35px;
	}
	.alert-post-delete .post-delete-reason .delete-choose-title{
		padding: 0 8px;
	}
	.alert-post-delete .post-delete-reason .delete-choose-sort{
		line-height: 35px;
	}
	.alert-post-delete .post-delete-reason .delete-reason-choose{
		line-height: 25px;
		margin-bottom: 15px;
	}
	.alert-post-delete .post-delete-reason textarea{
		height: 100px;
		margin-bottom: 15px;
		padding: 8px;
	}
	.alert-post-delete .post-delete-reason input{
		height: 30px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	/*发帖成功*/
	.alert-post-ok{
		width: 27%;
		height: 70px;
		line-height: 70px;
		margin-top: -35px;
		max-width: 240px;
		margin-left: -13.5%;
		padding: 0 15px;
	}
	.alert-post-ok img{
		width: 25%;
	}
	/*置顶失败*/
	.alert-top-fail{
		width: 27%;
		height: 70px;
		line-height: 70px;
		margin-top: -35px;
		max-width: 240px;
		margin-left: -13.5%;
		padding: 0 15px;
	}
	.alert-top-fail img{
		width: 25%;
	}
	/*弹出框样式*/
}
@media (max-width:540px){
	/*弹出框样式*/
	/*确定不玩？*/
	.alert-play{
		width: 60%;
		padding: 10px;
		margin-left: -30%;
	}
	.alert-play .alert-play-word{
		font-size: 12px;
		line-height: 18px;
		margin: 3px 0 5px 0;
	}
	.alert-play input{
		line-height: 30px;
	}
	/*删除帖子*/
	.alert-post-delete{
		width: 60%;
		margin-top: -30px;
		margin-left: -30%;
		margin-top: -130px;
	}
	.alert-post-delete h2{
		line-height: 35px;
		padding: 0 10px;
	}
	.alert-post-delete .post-delete-reason{
		padding: 0 10px;
	}
	.alert-post-delete .post-delete-reason .post-delete-sure{
		line-height: 30px;
	}
	.alert-post-delete .post-delete-reason .delete-reason-choose{
		line-height: 20px;
		margin-bottom: 8px;
	}
	.alert-post-delete .post-delete-reason .delete-choose-title{
		padding: 0 5px;
	}
	.alert-post-delete .post-delete-reason textarea{
		height: 80px;
		margin-bottom: 10px;
		padding: 4px;
	}
	.alert-post-delete .post-delete-reason input{
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	/*发帖成功*/
	.alert-post-ok{
		width: 40%;
		margin-left: -20%;
		padding: 0 10px;
		font-size: 16px;
	}
	.alert-post-ok img{
		width: 25%;
		margin-right: 5px;
	}
	/*置顶失败*/
	.alert-top-fail{
		width: 40%;
		margin-left: -20%;
		padding: 0 10px;
		font-size: 16px;
	}
	.alert-top-fail img{
		width: 25%;
		margin-right: 5px;
	}
	/*弹出框样式*/
}









