.con .con-top{
	margin-bottom:30px;
}
.con .con-top .box{
	position: relative;
	left:0px;
	top:0px;
	width:100%;
	max-height:336px;
	overflow: hidden;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
 }
.con .con-top .box{
	min-height: 336px;
}
.con .con-top .box img{
	width:100%;
	height:100%;
	min-height: 336px;
}
.con .con-top .box ul{
	-position: absolute;
	z-index:1;
	left:0px;
	top:0px;
}
.con .con-top .box ul li{
	float: left;
	width: 100%;
	position: relative;
}
.box li .swipe-wrap-info{
	position: absolute;
	left: 0;
	bottom: 0;
 	display: block;
 	width: 100%;
 	line-height: 60px;
 	text-indent: 2em;
 	font-size: 16px;
 	color: #fff;
	background: url(../img/icon/swipe_bg.png) center center no-repeat;

 }
.con .con-top .box ol{
	position:absolute;
	z-index: 2;
	right:10px;
	bottom: 12px;
}
.con .con-top .box ol li{
	float:left;
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius: 10px;
	margin-left:10px;
	background: #fff;
	transition:.2s ease all;
}
.con .con-top .box ol li.active{
	width:20px;
	background: #ff9900;
}
.con .con-top .col-xs-6{
	box-sizing: border-box;
	padding-right:20px;  
}


.con .con-top .rec .rec-con{
	padding:20px;
	background:#fff;

	max-height:336px;
	border:1px solid #eee;
	overflow: hidden;
}
.con .con-top .rec dl{
	margin-bottom:17px;
}
.con .con-top .rec dl dt{
	font-size:18px;
	margin-bottom:10px;
}
.con .con-top .rec dl dt a{
	color:#333;
	display: block;
	overflow:hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
}
.con .con-top .rec dl.title-red dt a{
	color:#e92b13;
	overflow:hidden;
	display: block;
	text-overflow: ellipsis;
  	white-space: nowrap;
}
.con .con-top .rec dl dd{
	font-size:12px;
	color:#999;
	line-height: 16px;
}
.con .con-top .rec ul li{
	font-size: 14px;
	line-height: 30px;
}
.con .con-top .rec ul li a{
	float:left;
	color: #333;
}
.con .con-top .rec li .icon-black-splot{
	float:left;
	width:3px;
	height:3px;
	color:#999;
	margin-top:14px;
	margin-right:4px;
	margin-left:-10px;
	background:#999;
}
.con .con-top .rec li .lm{
	float:right;
	color:#999;
	font-size:12px;
}
.con .con-top .hot-tj{
	padding-right:20px;
	max-height:336px;
	overflow: hidden;
	/*padding-right:0px;*/
}
.con .con-top .hot-tj .hot-tj-con{
	padding:0px;
	background:#fff;
	border:1px solid #eee;
}
.con .con-top .hot-tj .hot-nav{
	border-bottom: 1px solid #eee;
}
.con .con-top .hot-tj .hot-nav{
	line-height:52px;
}
.con .con-top .hot-tj .hot-nav a{
	color:#333;
	display: inline-block;
	text-align: center;
	width:85px;
	font-size: 16px;
	text-decoration: none;
	margin-left: 35px;
	
}
.con .con-top .hot-tj .hot-nav a.active{
	position: relative;
	color:#ff9900;
	bottom: 0px;
	padding-bottom: 0px;
	border-bottom:2px solid #ff9900;
	
}
.con .con-top .hot-tj .hot-con a{
	color:#fff;
}
.con .con-top .hot-tj .hot-con .title{
	line-height: 40px;
	float:left;
	color:#333;
}
.con .con-top .hot-tj .hot-con a img{
	float:left;
	width:40px;
	height:40px;
	margin-right: 10px;
	border-radius: 6px;
}
.con .con-top .hot-tj .hot-con ul{
	padding-top:18px;
	float:left;
	position: relative;
	width:100%;
	box-sizing:border-box;
}
.con .con-top .hot-tj .hot-con li{
	padding-left: 15px;
	margin-bottom: 12px;
}
.con .con-top .hot-tj .hot-con span{
	float: right;
	  margin-top: 13px;
	padding-right:10px;

}
.con .con-top .hot-tj .hot-con span .package{
	background: #96c5e9;
	padding:4px 13px;

	border-radius: 30px;
}
.con .con-top .hot-tj .hot-con span .off-package{
	background:#ccc;
	cursor:default;
}
.con .con-top .hot-tj .hot-con span .down{
	background:#ff9900;
	padding:4px 13px;
	border-radius: 30px;
}
.con .con-top .hot-tj .hot-con span .off-down{
	background:#ccc;
	cursor:default;
}
.con .con-top .hot-tj .hot-con .num{
	float:left;
	font-family: Avenir;
	font-size:16px;
	font-style: italic;
	line-height: auto;
	margin-top:13px;
}
.con .con-top .hot-tj .hot-con .num-color{
	color:#ff9900;
}
.con .con-top .hot-tj .hot-con .rank {
	margin-top:12px;
	padding-right:26px;
}
.con .con-top .hot-tj .hot-con .rank img{
	width:13px;
	vertical-align:middle;
}
.con .h2{
	font-size:24px;
	color:#888;
	margin:10px 0px 20px;
}
.con .h2 a {
	float:right;
	color:#aaaaaa;	
	font-size: 16px;
}
.con .h2-con dl{
	padding:20px;
	border:1px solid #eee;
	background: #fff;
}
.con .h2-con .col-xs-3{
	padding-right:20px;
	margin-bottom:20px;
}
.con .h2-con img{
	width:72px;
	height:72px;
	margin-right:15px;
	border-radius:15px;
}
.con .h2-con dl dt{
	float:left;
}
.con .h2-con dl dd{
	display: block;
	font-size: 12px;
	margin-bottom: 4px;
	color: #999999;
}
.con .h2-con dl dd b{
	font-weight: normal;
}
.con .h2-con dl dd .update{
	color: #96c5e9;
}
.con .h2-con dl dd a{

	display: block;
	color:#333;
	overflow:hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
	font-size:16px;
	margin-top:8px;
	margin-bottom: 12px;
}
.con .h2-con .h2-con-bot{
	height:40px;
	line-height:40px;
	background: #fff;
	border:1px solid #eee;
	border-top:none;
}
.con .h2-con .h2-con-bot a{
	display: inline-block;
	width:50%;
	text-align:center;
	color:#999;
	background: #fafafa;
	box-sizing:border-box;
}
.con .h2-con .h2-con-bot a:hover{
	color:#ff9900;
}
.con .h2-con .h2-con-bot a.zq{
	border-right: 1px solid #eee;
}
.con .h2-con .h2-con-bot a.bg-grey{
	
	background:#eee;
}
.con .h2-con .h2-con-bot a.bg-grey:hover{
	color:#999;
	text-decoration:none;
	cursor:default;
	background:#eee;
}

/*移动端响应*/
@media (max-width:1024px){
	.container{
		margin-right:-15px;
	}
	.con .con-top{
		margin-bottom:0px;
	}
	.con .h2{
		margin-top:5px;
		margin-bottom:15px;
	}
	.con .h2-con .col-md-4{
		padding-right:15px;
		margin-bottom:15px;
	}
	.con .h2-con dl{
		padding:10px;
	}
	.con .h2-con img{
		margin-right:12px;
	}
	.con .con-top .col-xs-9{
		margin-bottom:15px;
	}

	.con .con-top .col-xs-6{
		padding-right:15px;
	}
	.con .con-top .hot-tj{
		padding-right:15px;
		max-height: initial;
		margin-bottom:20px;
	}
	.con .con-top .hot-tj .hot-con .title{
		line-height: 60px;
	}
	.con .con-top .hot-tj .hot-con a img{
		width:60px;
		height:60px;
	}
	
}
@media (max-width:1023px) and (min-width:541px){
	
	.con .con-top .box{
		height:336px;
	}
	.con .con-top .box ul{
		height:336px;

	}
	.con .con-top .box ul li{
		height:336px;
	}
	.con .box li .swipe-wrap-info{
		display: none;
	}
}
@media (max-width:540px){
	body{
		backgroud:red;
	}
	.container{
		margin-right:0px;
	}
	.con .h2-con{
		margin-right:-10px;
	}
	.con .h2-con .col-md-4{
		padding-right:10px;
		margin-bottom: 10px;
	}
	.con{
		padding:0px 10px;
	}
	.con .con-top .box{
		min-height: 0px;
	}
	.con .con-top .box img{
		min-height: 0px;
	}
	.con .con-top .rec{
		padding:0px 16px 0px 0px;
		margin-top:10px;
	}
	.con .con-top .col-xs-6{
		padding:0px;
	}
	.con .con-top .col-xs-9{
		margin-bottom: 5px;
	}
	.con .con-top .rec .rec-con{
		padding: 10px;
	}
	.con .box li .swipe-wrap-info{
		display: none;
	}
	.con .con-top .hot-tj{
		padding:0px;
		margin:5px 0px 10px;
	}
	
	.con .con-top .rec li .lm{
		display: none;
	}
	.con .con-top .rec dl{
		padding-bottom: 6px;
		border-bottom:1px solid #eee;
	}
	.con .con-top .rec dl.title-red{
		border:0px;
		padding-bottom: 0px;
	}
	.con .con-top .rec li .icon-black-splot{
		margin-left:0px;
		margin-right:10px;
	}
	.con .con-top .rec .rec-con{
		max-height: initial;
	}
	.con .con-top .hot-tj .hot-con li{
		padding-left:10px;
	}
	.con .con-top .hot-tj .hot-con .title{
		line-height: 60px;
	}
	.con .con-top .hot-tj .hot-con span{
		 margin-top: 27px;
	}
	.con .h2{
		font-size:16px;
		margin:0px;
		margin-top:5px;
		margin-bottom:15px;
	}

	.con .h2-con{
		padding:0px;
	}
	.con .h2-con .col-sm-6{
		padding-right:10px;
		margin-bottom:10px;
	}
	.con .h2-con dl{
		padding:8px;
	}
	.con .h2-con img{
		margin-right:8px;
		width:43px;
		height:43px;
		border-radius: 10px;
	}
	.con .h2-con dl dd a{
		margin-top:4px;
		margin-bottom: 5px;
		font-size:14px;
	}
	.con .h2-con .h2-con-bot{
		height:30px;
		line-height:30px;
	}
	.h2-con-bot{
		display: none;
	}
	
}





